<%- include('partials/head') %> 

<body>

    <%- include('partials/navbar') %>

    <h1>Home page <%= 5+5+5 %> </h1>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic in cupiditate ipsum quasi, a excepturi odit natus sequi. Fuga fugiat similique esse omnis a libero alias quas beatae, quasi quidem.
    Illum laudantium possimus, vitae, quidem inventore enim unde quia perferendis voluptatibus fugit in? Praesentium, quasi. Voluptatibus, debitis? Modi ipsum sapiente corrupti atque, ipsa, ullam facere consequuntur ab aut laudantium quis.
    Voluptas corporis distinctio dolorum corrupti sit vitae amet quisquam sunt et tempore voluptatem officiis non autem, quidem sapiente iste? Minus odit architecto suscipit quidem distinctio. Sit vero nisi praesentium sed.
    Ad similique fugit, numquam in reprehenderit perferendis, odit pariatur omnis corrupti atque dolore ipsa! Rerum deserunt sunt quaerat, minima ut modi eius ex repudiandae, recusandae tempore eum ab, id atque.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure optio rem est ipsa. Quis, quo dignissimos eos optio fugiat ipsam consequuntur. Quas pariatur impedit magni tempora cumque consequuntur facere distinctio?</p>

</body>

</html>