body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    color: orange;
    background: none;
    
    border: 2px orange solid;
    border-radius: 0.35em;
    padding: 1em 2em;
    font-size: 1em;
    transition: 0.15s;
}

button:hover {
    border-color: green;
    color: green;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(27, 154, 27);
    transform: translateY(-0.25em);
    cursor: pointer;
}