div#showList {
    
}

div.container {
    margin-top: 10px;
    background-color: antiquewhite;
    padding: 15px;
    display: flex;
}

body {
    background-color: rgb(223, 206, 183);
}

img {
    margin: auto;  /* Magic! */
    max-width: 100%;
    max-height: 100%;
}

p {
    position: absolute;
    

    margin-top: 0;
    font-weight: bold;
    font-size: larger;
}